In [59]:
import pandas as pd
import numpy as np

train_df = pd.read_csv("datasets/train.csv")
# print(train_df.head(10))
# print(train_df.describe())
# print("---"*10)
male = ["Mr."]
female = ["Mrs.", "Miss.", "Ms."]
rare = ["Master.", "Col.", "Major.", "Rev.", "Capt.", "Dr.", "Sir.",
        "Lady.", "Mlle.", "Mme.", "Countess.", "Dona.", "Don.", "Jonkheer."]
train_df["Title"] = train_df["Name"].map(
    lambda name:
        "M" if any(x in name for x in male) else
        "F" if any(x in name for x in female) else
        "R" if any(x in name for x in rare) else
        np.nan)
print(train_df[["Name", "Title", "Fare"]][train_df["Title"].isna()].head())
print(train_df["Title"].describe())

Empty DataFrame
Columns: [Name, Title, Fare]
Index: []
count     891
unique      3
top         M
freq      517
Name: Title, dtype: object